@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;
@use '../base/typography' as t;


// Hero section 
.hero-container {
    width: 100%;
    height: auto;
    min-height: 79.08rem;
    background-color: v.$dark-blue;
    position: relative;

    .side-accent {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        @include m.tabletS {
            width: 70%;
        }
    }

    .hero-content {
        @include m.flexbox(row, space-between, center);
        gap: 2rem;
        width: 100%;
        height: auto;
        min-height: 42.3rem;
        margin: 6.4rem 0 5.6rem 0;
        z-index: 5;
        position: relative;

        @include m.tabletS {
            flex-direction: column;
            gap: 7rem;
        }

        .textcon {
            max-width: 55rem;

            .heading {
                @extend .headings-text-xxl;
                color: v.$white;
                font-weight: 400;
                margin-bottom: 1.6rem;

                @include m.tabletS {
                    text-align: center;
                }
            }

            .sub-heading {
                @extend .paragraphs-text-xs;
                color: v.$white;
                margin-bottom: 4rem;

                @include m.tabletS {
                    text-align: center;
                }
            }

            .cta-box {
                display: flex;
                gap: 2.4rem;

                @include m.tabletS {
                    justify-content: center;
                }
            }
        }

        .imagecon {
            width: 100%;
            height: auto;
            max-width: 49.4rem;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .logo-slider {
        width: 100%;
        height: auto;
        max-height: 9.3rem;
        padding: 3.3rem 0 1.2rem 0;
        position: relative;

        @include m.flexbox(row, flex-start, center);
        gap: 5.6rem;
        overflow-x: auto;

        @include m.tabletS {
            padding-bottom: 8rem;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 9.3rem;
            width: 100%;
            background: linear-gradient(90deg, rgba(10, 38, 64, 1) 0%, rgba(6, 5, 81, 0) 20%, rgba(9, 9, 121, 0) 81%, rgba(10, 38, 64, 1) 100%);
        }

    }


}

// Services features

.features {
    @include m.flexbox(row, space-between, center);
    gap: 2rem;
    row-gap: 5rem;
    flex-wrap: wrap;
    padding-bottom: 18.5rem;

    @include m.tablet {}

    &__box {
        flex-basis: 30rem;
        @include m.flexbox(column, flex-start, center);
        gap: 3.3%;
        row-gap: 2.4rem;

        @include m.tablet {
            flex-basis: 45%;
        }

        @include m.phone {
            flex-basis: 100%;
        }

        &--image {
            width: 100%;

            height: auto;

            img {
                width: 100%
            }
        }

        &--content {

            .title {
                @extend .paragraphs-text-m;
                font-weight: 400;
                color: v.$black;
            }

            .text {
                @extend .paragraphs-text-s;
                padding: 1.2rem 0 2.8rem 0;
                color: v.$grey;
                font-weight: 400;
            }

            .link {
                font-weight: 700;
                @extend .paragraphs-text-s;
                border-bottom: 1px solid v.$dark-blue;
                line-height: 3.6rem;
                display: inline-flex;
                align-items: center;
                gap: 1.2rem;
                padding-bottom: .8rem;
                color: v.$dark-blue;
                text-decoration: none;

                & .icon {
                    transition: all 0.3s ease-in-out;
                }

                &:hover .icon {

                    margin-left: .5rem;
                }
            }
        }
    }
}

.connectbox {
    margin-bottom: 12rem;
    @include m.flexbox(row, space-between, center);
    gap: 5rem;

    @include m.tablet {
        flex-wrap: wrap;
    }


    .image__content {
        flex-basis: 50%;

        @include m.tablet {
            flex-basis: 100%;
            @include m.content-center;
        }

        &--wrapper {
            width: 100%;
            max-width: 49.9rem;

            .theimage {
                width: 100%;
                max-width: 49.9rem;
                position: relative;
            }

            .databox {
                width: 100%;
                height: auto;
                min-height: 38.8rem;
                border-radius: .4rem;
                box-shadow: 0 .4rem 3.2rem rgba(0, 0, 0, 0.12);
                border-radius: 1.2rem;
                background-color: v.$white;
                color: v.$dark-blue;
                font-family: "Manrope";
                z-index: 120;
                position: relative;

                .chart {
                    width: 100%;
                    height: auto;
                }

                &.first {
                    max-width: 25.1rem;
                    padding: 4rem;
                    margin-top: -28.4rem;
                    margin-left: 18.6rem;

                    @include m.phoneS {
                        margin-top: -18.4rem;
                        margin-left: 8rem;
                    }

                    @include m.phoneM {
                        margin-left: 6rem;
                    }

                    @include m.phoneXS {
                        margin-left: 2rem;
                    }
                }

                &.second {
                    max-width: 29.1rem;
                    padding: 4.779rem 5.579rem;
                    margin-top: -21.9rem;
                    margin-left: 4.8rem;

                    @include m.phoneM {
                        max-width: 25rem;
                        padding: 2.4rem 3rem;
                        margin-top: -21.9rem;
                        margin-left: 3.8rem;
                    }

                    @include m.phoneXS {
                        max-width: 23rem;
                        padding: 2rem;
                        margin-top: -15.9rem;
                        margin-left: 1.8rem;
                    }
                }


                .percentage {
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                    margin-top: 1.979rem;
                    margin-bottom: .4rem;
                    font-weight: 700;

                }

                .metrics {
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    font-weight: 400;
                }

                .metricsbox {
                    margin-top: 2.279rem;

                    .item {
                        list-style: none;
                        font-family: "Manrope";
                        font-size: 1.388rem;
                        line-height: 2.379rem;
                        font-weight: 400;

                        &:not(:last-child) {
                            padding-bottom: 1.17rem;
                        }

                        &::before {
                            content: " ";
                            width: 4.97px;
                            height: 4.97px;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: .795rem;
                        }

                        &.blue::before {
                            background-color: v.$light-blue;
                        }

                        &.green::before {
                            background-color: v.$green;
                        }

                        &.grey::before {
                            background-color: #c4c4c4;
                        }
                    }

                }
            }
        }

    }

    .text__content {
        width: auto;
        justify-self: center;
        flex-basis: 50%;

        @include m.tablet {
            flex-basis: 100%;
            @include m.content-center;
        }

        .heading {
            @extend .headings-text-xl;
            font-weight: 400;
            margin-bottom: 4rem;
            max-width: 50rem;

            @include m.tablet {
                max-width: 80rem;
            }

        }

        .listcon {
            max-width: 50rem;

            @include m.tablet {
                max-width: 80rem;
            }
        }

        .listbox-one {
            @include m.flexbox(row, flex-start, center);
            margin-bottom: 2.4rem;
            gap: 2.7rem;

            &:last-child {
                margin-bottom: 0rem !important;
            }

            .check {
                width: 3.6rem;
                min-width: 3.6rem;
                height: 3.6rem;
                border-radius: 100%;
                background-color: v.$dark-blue;
                font-size: 2.4rem;
                @include m.flexbox(row, center, center);

                .icon {
                    color: v.$white;
                }

                &-text {
                    color: v.$black;
                    @extend .paragraphs-text-s;
                    font-weight: 400;
                }
            }
        }

        .listbox-two {
            @include m.flexbox(row, flex-start, center);
            margin-bottom: 2.4rem;
            gap: 1.2rem;
            padding: 1.6rem 2rem;

            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
            border-radius: 4px;

            &:hover {
                background-color: v.$dark-blue;


                .check-text,
                .icon {
                    color: v.$white;
                }

                .check .icon {
                    color: v.$white;
                }
            }

            &:last-child {
                margin-bottom: 0rem !important;
            }

            .check {
                width: 3.6rem;
                max-width: 3.6rem;
                height: 3.6rem;

                font-size: 2.8rem;
                @include m.flexbox(row, center, center);

                .icon {
                    color: v.$dark-blue;
                }

                &-text {
                    color: v.$black;
                    @extend .paragraphs-text-xs;
                    font-weight: 400;
                }
            }
        }

        .cta {
            display: flex;
            padding-top: 3.2rem;
        }


    }

    .contentpos {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
    }
}


.testimonials {
    width: 100%;
    height: auto;
    min-height: 79.7rem;
    background-color: v.$dark-blue;
    padding: 9.6rem 0;

    &__header {
        @include m.flexbox(row, space-between, flex-end);
        gap: 2rem;


        @include m.phone {
            flex-direction: column;
        }

        .heading {
            @extend .headings-text-xxl;
            font-weight: 400;
            color: v.$white;
            max-width: 71.6rem;
        }

        .slider-control {
            @include m.flexbox(row, center, center);
            gap: 2.8rem;

            .control {
                width: 7.2rem;
                height: 7.2rem;
                border-radius: 50%;
                background-color: v.$white;
                cursor: pointer;
                @include m.flexbox(row, center, center);
                transition: all 0.3s ease-in-out;

                .icon {
                    font-size: 3.6rem;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    background-color: v.$green;

                    .icon {
                        color: v.$white;
                    }
                }
            }
        }
    }

    &__slider {
        width: 100%;
        height: auto;
        overflow-x: auto;
        padding-top: 7.2rem;
        display: flex;
        align-items: flex-start;
        gap: 2.2rem;

        &::-webkit-scrollbar {
            display: none;
        }

        &--box {
            width: 100%;
            min-width: 35rem;
            background-color: v.$white;
            border-radius: 1.2rem;
            padding: 4rem;
            @include m.flexbox(column, flex-start, baseline);
            gap: 4rem;

            .quote {
                @extend .paragraphs-text-m;
                font-weight: 400;
                color: v.$black;
            }

            .userbox {
                @include m.flexbox(row, flex-start, center);
                gap: 1.6rem;

                .user-image {
                    width: 5.8rem;
                    height: 5.8rem;
                    border-radius: 50%;
                    overflow: hidden;

                    .image {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .user-details {
                    @include m.flexbox(column, flex-start, flex-start);
                    gap: .6rem;
                    color: v.$dark-blue;
                    font-family: "Open Sans";

                    .name {
                        font-size: 1.6rem;
                        font-weight: 700;
                    }

                    .position {
                        font-size: 1.4rem;
                        font-weight: 400;
                    }

                }
            }
        }
    }
}


// Learn More section

.learn-more {
    padding: 12.4rem 0 7.4rem 0;

    .imagebox {
        width: 100%;
        max-width: 110rem;
        height: auto;
        max-height: 40.3rem;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        padding: 5.6rem 0 0 0;
        @include m.flexbox(row, space-between, flex-start);
        gap: 8rem;

        @include m.tablet {
            flex-wrap: wrap;
            justify-content: center;
        }

        .lefttext {
            @extend .headings-text-xl;
            font-weight: 400;
            max-width: 50rem;

            @include m.tablet {
                text-align: center;
            }
        }
    }
}


// Blog Section
.blog {
    &__wrapper {
        @include m.flexbox(row, space-between, none);
        gap: 3.3rem;
        margin-bottom: 8.4rem;
        flex-wrap: wrap;

        @include m.tablet {
            gap: 2.5%;
            row-gap: 5rem;
        }
    }

    &__box {
        flex-basis: 30%;

        @include m.tablet {
            flex-basis: 45%;
        }

        @include m.phone {
            flex-basis: 100%;
        }



        &--imagebox {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &--heading {
            @include m.flexbox(row, flex-start, center);
            gap: 1.2rem;
            padding: 2.4rem 0 1.2rem 0;

            .category {
                @extend .paragraphs-text-xs;
                font-weight: 700;
                color: v.$dark-blue;
            }

            .date {
                @extend .paragraphs-text-xs;
                color: v.$grey;
                font-weight: 400;
            }
        }

        .wraptext {
            @include m.flexbox(column, space-between, flex-start);
            gap: 2rem;
            flex-wrap: wrap;
            align-content: baseline;
        }

        &--maintext {
            @extend .paragraphs-text-s;
            color: v.$black;
        }

        &--author {
            @include m.flexbox(row, flex-start, center);
            gap: 1.2rem;
        }

    }
}



// Heading section

.heading-box {
    margin: 8.4rem auto 8rem auto;
    max-width: 84.2rem;
    gap: 1.2rem;
    text-align: center;

    .title {
        color: v.$grey;
        @extend .paragraphs-text-s;
        font-weight: 400;
    }

    .heading {
        @extend .headings-text-xxl;
        color: v.$black;
        font-weight: 400;
    }
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}