@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;
@use '../base/typography' as t;


// Hero section 
.hero-container {
    width: 100%;
    height: auto;
    min-height: 79.08rem;
    background-color: v.$dark-blue;
    position: relative;

    .side-accent {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    .hero-content {
        @include m.flexbox(row, space-between, center);
        gap: 2rem;
        width: 100%;
        height: auto;
        min-height: 42.3rem;
        margin: 6.4rem 0 5.6rem 0;
        z-index: 100;
        position: relative;

        .textcon {
            max-width: 55rem;

            .heading {
                @extend .headings-text-xxl;
                color: v.$white;
                font-weight: 400;
                margin-bottom: 1.6rem;
            }

            .sub-heading {
                @extend .paragraphs-text-xs;
                color: v.$white;
                margin-bottom: 4rem;
            }

            .cta-box {
                display: flex;
                gap: 2.4rem;
            }
        }
    }

    .logo-slider {
        width: 100%;
        height: auto;
        max-height: 9.3rem;
        padding: 3.3rem 0 1.2rem 0;
        @include m.flexbox(row, flex-start, center);
        gap: 5.6rem;
        overflow-x: auto;

        // img{
        //     margin-bottom: 1.71rem;
        // }

        &::-webkit-scrollbar {
            display: none;
        }

    }
}

// Services features

.features {
    @include m.flexbox(row, space-around, center);
    gap: 2rem;
    padding-bottom: 18.5rem;

    &__box {
        width: 100%;
        max-width: 30rem;
        @include m.flexbox(column, flex-start, center);
        gap: 2.4rem;

        &--image {
            width: 30rem;
            height: auto;

            img {
                width: 100%
            }
        }

        &--content {
            .title {
                @extend .paragraphs-text-m;
                font-weight: 400;
                color: v.$black;
            }

            .text {
                @extend .paragraphs-text-s;
                padding: 1.2rem 0 2.8rem 0;
                color: v.$grey;
                font-weight: 400;
            }

            .link {
                font-weight: 700;
                @extend .paragraphs-text-s;
                border-bottom: 1px solid v.$dark-blue;
                line-height: 3.6rem;
                display: inline-flex;
                align-items: center;
                gap: 1.2rem;
                padding-bottom: .8rem;
                color: v.$dark-blue;
                text-decoration: none;

                & .icon {
                    transition: all 0.3s ease-in-out;
                }

                &:hover .icon {

                    margin-left: .5rem;
                }
            }
        }
    }
}

.connectbox {
    width: 100%;
    height: auto;
    margin-bottom: 12rem;
    @include m.flexbox(row, space-between, center);

    .image__content {
        flex-basis: 50%;

        &--wrapper {
            width: 100%;
            max-width: 49.9rem;

            .theimage {
                width: 100%;
                max-width: 49.9rem;
            }

            .databox {
                width: auto;

                height: 38.8rem;
                border-radius: .4rem;
                box-shadow: 0 .4rem 3.2rem rgba(0, 0, 0, 0.12);
                border-radius: 1.2rem;
                background-color: v.$white;
                color: v.$dark-blue;
                font-family: "Manrope";
                z-index: 120;
                position: relative;

                &.first {
                    max-width: 25.1rem;
                    padding: 4rem;
                    margin-top: -28.4rem;
                    margin-left: 18.6rem;
                }

                &.second {
                    max-width: 29.1rem;
                    padding: 4.779rem 5.579rem;
                    margin-top: -21.9rem;
                    margin-left: 4.8rem;
                }


                .percentage {
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                    margin-top: 1.979rem;
                    margin-bottom: .4rem;
                    font-weight: 700;

                }

                .metrics {
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    font-weight: 400;
                }

                .metricsbox {
                    margin-top: 2.279rem;

                    .item {
                        list-style: none;
                        font-family: "Manrope";
                        font-size: 1.388rem;
                        line-height: 2.379rem;
                        font-weight: 400;

                        &:not(:last-child) {
                            padding-bottom: 1.17rem;
                        }

                        &::before {
                            content: " ";
                            width: 4.97px;
                            height: 4.97px;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: .795rem;
                        }

                        &.blue::before {
                            background-color: v.$light-blue;
                        }

                        &.green::before {
                            background-color: v.$green;
                        }

                        &.grey::before {
                            background-color: #c4c4c4;
                        }
                    }

                }
            }
        }

    }

    .text__content {
        width: auto;
        max-width: 50rem;
        flex-basis: 50%;

        .heading {
            @extend .headings-text-xl;
            font-weight: 400;
            margin-bottom: 4rem;
        }

        .listbox-one {
            @include m.flexbox(row, flex-start, center);
            margin-bottom: 2.4rem;
            gap: 2.7rem;

            &:last-child {
                margin-bottom: 0rem !important;
            }

            .check {
                width: 3.6rem;
                min-width: 3.6rem;
                height: 3.6rem;
                border-radius: 100%;
                background-color: v.$dark-blue;
                font-size: 2.4rem;
                @include m.flexbox(row, center, center);

                .icon {
                    color: v.$white;
                }

                &-text {
                    color: v.$black;
                    @extend .paragraphs-text-s;
                    font-weight: 400;
                }
            }
        }

        .listbox-two {
            @include m.flexbox(row, flex-start, center);
            margin-bottom: 2.4rem;
            gap: 1.2rem;
            padding: 1.6rem 2rem;

            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
            border-radius: 4px;

            &:hover {
                background-color: v.$dark-blue;


                .check-text,
                .icon {
                    color: v.$white;
                }

                .check .icon {
                    color: v.$white;
                }
            }

            &:last-child {
                margin-bottom: 0rem !important;
            }

            .check {
                width: 3.6rem;
                max-width: 3.6rem;
                height: 3.6rem;

                font-size: 2.8rem;
                @include m.flexbox(row, center, center);

                .icon {
                    color: v.$dark-blue;
                }

                &-text {
                    color: v.$black;
                    @extend .paragraphs-text-xs;
                    font-weight: 400;
                }
            }
        }

        .cta {
            display: flex;
            padding-top: 3.2rem;
        }


    }
}


.testimonials {
    width: 100%;
    height: auto;
    min-height: 79.7rem;
    background-color: v.$dark-blue;
    padding: 9.6rem 0;

    &__header {
        @include m.flexbox(row, space-between, flex-end);
        gap: 2rem;

        .heading {
            @extend .headings-text-xxl;
            font-weight: 400;
            color: v.$white;
            max-width: 71.6rem;
        }

        .slider-control {
            @include m.flexbox(row, center, center);
            gap: 2.8rem;

            .control {
                width: 7.2rem;
                height: 7.2rem;
                border-radius: 50%;
                background-color: v.$white;
                cursor: pointer;
                @include m.flexbox(row, center, center);
                transition: all 0.3s ease-in-out;

                .icon {
                    font-size: 3.6rem;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    background-color: v.$green;

                    .icon {
                        color: v.$white;
                    }
                }
            }
        }
    }

    &__slider {
        width: 100%;
        height: auto;
        overflow-x: auto;
        padding-top: 7.2rem;
        display: flex;
        align-items: flex-start;
        gap: 2.2rem;

        &::-webkit-scrollbar {
            display: none;
        }

        &--box {
            width: 100%;
            min-width: 35rem;
            background-color: v.$white;
            border-radius: 1.2rem;
            padding: 4rem;
            @include m.flexbox(column, flex-start, baseline);
            gap: 4rem;

            .quote{
                @extend .paragraphs-text-m;
                font-weight: 400;
                color: v.$black;
            }

            .userbox{
                @include m.flexbox(row, flex-start, center);
                gap: 1.6rem;

                .user-image{
                    width: 5.8rem;
                    height: 5.8rem;
                    border-radius: 50%;
                    overflow: hidden;

                    .image{
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .user-details{
                    @include m.flexbox(column, flex-start, flex-start);
                    gap: .6rem;
                    color: v.$dark-blue;
                    font-family: "Open Sans";

                    .name{
                        font-size: 1.6rem;
                        font-weight: 700;
                    }

                    .position{
                        font-size: 1.4rem;
                        font-weight: 400;
                    }

                }
            }
        }
    }
}



// Heading section

.heading-box {
    margin: 8.4rem auto 8rem auto;
    max-width: 84.2rem;
    gap: 1.2rem;
    text-align: center;

    .title {
        color: v.$grey;
        @extend .paragraphs-text-s;
        font-weight: 400;
    }

    .heading {
        @extend .headings-text-xxl;
        color: v.$black;
        font-weight: 400;
    }
}