

// Color declarations

$light-blue: #0DBBFC;
$green: #65E4A3;
$light-grey: #F1F1F1;
$dark-blue: #0A2640;
$grey-blue: #8FB6D5;
$white: #FFFFFF;
$grey: #777777;


// Fonts declarations
$manrope: "Manrope";
$opensans: "Open Sans";