@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;
@use '../base/typography' as t;


.input-field{
    width: 100%;
    max-width: 37rem;
    max-height: 5.6rem;
    border-radius: 2rem;
    background-color: v.$white;
    outline: none;
    border-radius: 24rem;
    color: v.$black;
    padding: 1.2rem 3.2rem;
    border: 2px solid v.$white;
    @extend .paragraphs-text-s;
}